{% extends 'base.html' %}

{% block title %}CHU x API{% endblock %}

{% block content %}<h1>Brief API CHU</h1>{% endblock %}

{% block content2 %}* Pour visualiser le 'GET', entrez : http://127.0.0.1:5000/nomdelatable, 
    exemple : http://127.0.0.1:5000/materiel{% endblock %}

{% block content3 %}* Pour visualiser le 'GET' d'une id précise, entrez : http://127.0.0.1:5000/nomdelatable/id, 
    exemple : http://127.0.0.1:5000/materiel/2{% endblock %}

{% block content4 %}* Pour tester le 'POST', 'PUT' & 'DELETE', entrez : http://127.0.0.1:5000/nomdelatable dans Postman, 
    exemple : http://127.0.0.1:5000/materiel{% endblock %}